/* .card-container {
    width: 20vw;
    border: rgb(160, 160, 162) solid 5px;
    border-radius: 20px 20px;
    margin: .9vw;
    padding: 1vw;
    background: linear-gradient(white, rgb(165, 164, 169));
    justify-content: space-between; 
  } */

.card-container {
    border: 1px solid dimgray;
}

  .card-body {
    display: flex;
    flex-direction: column;
  }

  .form-div {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    width: 18%;
    height: 100%;
    background-color: rgb(181, 181, 181);
    padding: 50px 20px 0px;
    min-width: 180px;
  }
  
  .card-image {
    max-height: 160px;
    object-fit: cover;
  }

.background {
    background-image: url(/public/concert.jpg);
    background-size: cover;
    height: 100%;
    width: 82%;
    flex-wrap: wrap;
    display: flex;    
    background-color: chartreuse;
    overflow: scroll;
    justify-content: center;
}



.btn {
    /* background: linear-gradient(to right, white, grey); */
    border: 1px solid dimgrey;
}