h1 {
  text-align: center;
  font-family: 'Splash', cursive;
  font-size: 100px;
}

h1:hover{
  /* color: red; */

}

.card-image {
  height: 180px;
}

.card-body {
  border-radius: 10px;
}

.card-title {
  color: #A58CB3;
  
}

.cardgroup {
  /* display: flex;
  flex-wrap: wrap;  */
  margin-top: 40px; 
  margin-bottom: 90px;
  background-image: url("/public/images/background1-1.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
  padding-bottom: 4rem;
  
}

.card {
  width: 150;
  height: 150;
  margin: 20px;
  margin-left: auto;
  margin-right: auto;
  /* box-shadow: linear-gradient(-45deg, #e81cff 0%, #40c9ff 100% ); */
  box-shadow: 10px 4px 10px rgba(0,0,0,0.6);
  border-radius: 10px;
  transform-origin: center;
  transform: scale(1) translateZ(0);
  transition: 
    filter 200ms linear,
    transform 200ms linear;

}

.card:hover{
  transform: scale(1.10) translateZ(0);
  border-radius: 10px;
  border: 10px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(to left, #743ad5, #d53a9d);
  /* box-shadow: linear-gradient(red, orange); */

  
}


/* .box:before {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(-45deg, #e81cff 0%, #40c9ff 100% );
  transform: translate3d(0px, 20px, 0) scale(0.95);
  filter: blur(20px);
  opacity: var(0.7);
  transition: opacity 0.3s;
  border-radius: inherit;
}

/* 
* Prevents issues when the parent creates a 
* stacking context. (For example, using the transform
* property )
*/
/* .box::after {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: inherit;
  border-radius: inherit;
} */
 

